/* Table of Contents
1. Imports 
2. General Styles
3. Large Screen Rules
 */

 /* 1. Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');



/* 2. General Styles */
body{
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    font-family: Sansita, sans-serif;
    display: inline;
}
#header{
    margin: 0;
    padding: 0;
}
#title{
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
    margin: 10px;
}
#logo{
    display: inline;
}
#page-nav{
    background-color: blue;
    height: 50px;
    text-align: left;
    
}
ul.list{
    margin: 0;
    padding: 0;
}
.list li{
    display: inline;
    font-size: 12px;
    text-align: left;

}
.Temperature  p.feel{
    font-size: 10px;
}
.Temperature{
    border: solid 1px black;
    border-radius: 10px;
    text-align: center;
    
}
.Temperature ul li{
    list-style-type: none;
    display: inline;
    text-align: left;
    margin:0;
    padding: 0;
}
li#high{
    color: red;
}
li#low{
    color: blue;
}
.Temperature p{
    font-size: 60px;
    margin: 0;
    padding:0;
}
ul{
    margin:0;
    padding: 0;
}
.Wind{
    border: solid 1px black;
    border-radius: 10px;
    text-align: center;
}
#container{
    position: relative;
}
img #pointer{
    position:relative;

}
 p#speed{
    font-size: 40px;
    position: absolute;
    text-align: center;
    top: 15%;
    left: 37%;
}
.Wind p{
    font-size: 12px;
}
#time li{
    display: inline-block;
    
}
#time{
    overflow: auto;
    white-space: nowrap;
}
.forecast{
    border: solid 1px black;
    border-radius: 10px;
    text-align: center;
}
.forecast img{
    width: 300px;
}
.hourly-forecast{
    border: solid 1px black;
    border-radius: 10px;
    text-align: center;
    
}
.Bottom{
    background-color: blue;
    text-align: center;
    text-decoration: none;
   
}
.Bottom li{
    color: white;
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    
}
footer{
    background-color: blue;
}
.Bottom li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
  
}
@media only screen and (min-width: 600px) {
    p#speed{
        font-size: 40px;
        position: absolute;
        text-align: center;
        top: 15%;
        left: 46%;
    }
}