main{
    background-color: blue;
    padding: 1em;
    max-width: 800px;
}

main p{
    margin: 1em auto;
    padding: 1em;
    background-color: white;
}

#one{
  min-width: 600px;
}
#two{
max-width: 60%;

}
